.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 18rem;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #29347a;
  padding: 0;
  margin: 0;
}
